<% extra_content = @plugins.dispatch(:asset_product_extras, product).collect { |content| instance_exec(&content) } %>
<% extra_properties = @plugins.dispatch(:asset_product_properties, product) %>

<li class="search-product-item <%= 'highlighted' if product.highlighted? %>">

  <div class="search-product-item-first-column">
    <%= render :partial => 'search/image', :object => product %>

    <% if product.available %>
      <% if product.price && product.price > 0 %>
        <% has_discount = product.discount && product.discount > 0 %>
        <% if product.price %>
          <span class="search-product-price-textid"><%=_("from") if has_discount %></span><%= price_span(product.price, :class => "search-product-price " + (has_discount ? 'with-discount' : '')) %>
          <% if has_discount %>
            <span class="search-product-price-textid"><%=_("by")%></span><%= price_span(product.price_with_discount, :class => "search-product-price") %>
          <% end %>
          <% if product.unit %>
            <span class="search-product-unit">&nbsp;<%= _('/') %>&nbsp;<%= product.unit.name %></span>
          <% end %>
        <% end %>
        <div class="search-product-inputs-info">
          <% if p = product.percentage_from_solidarity_economy %>
            <div class="search-product-percentage-from-solidarity-economy search-product-ecosol-percentage-icon-<%= p[0].to_s %>"
              title="<%=_('Percentage of inputs from solidarity economy')%>">
              <%= p[1] %>
            </div>
          <% end %>

          <% if product.price_described? %>
            <% title = (product.inputs.relevant_to_price + product.price_details).map{ |i|
              '<div class="search-product-input-dots-to-price">' +
                '<div class="search-product-input-name">' + i.name + '</div>' +
                price_span(i.price, :class => 'search-product-input-price') +
              '</div>' }.join('') %>
            <%= link_to_function _("Open Price"), '', :title => title, :class => "search-product-price-details" %>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <span class="product-not-available"><%= _('Not available') %></div>
    <% end %>

  </div>
  <div class="search-product-item-second-column">
    <%= link_to_product product, :class => 'search-result-title' %>
    <div class="search-product-supplier">
      <span class="search-field-label"><%= _('Supplier') %>  </span><%= link_to_homepage product.enterprise.name, product.enterprise %>
    </div>
    <div class="search-product-description">
      <% if product.description %>
        <% desc_stripped = strip_tags(product.description) %>
        <span class="search-field-label"><%= _('Description') %>  </span><%= excerpt desc_stripped, desc_stripped.first(3), radius: 300 %>
      <% end %>
    </div>
  </div>
  <div class="search-product-item-third-column">
    <div class="search-product-region">
      <% if product.enterprise.region %>
        <span class="search-field-label"><%= _('City') %></span>
        <br /><%= city_with_state(product.enterprise.region) %>
      <% end %>
    </div>
    <div class="search-product-qualifiers">
      <% if product.product_qualifiers.count > 0 %>
        <span class="search-field-label"><%= _('Qualifiers') %></span>
        <% product.product_qualifiers.each do |pq| %>
          <% if pq.qualifier %>
            <span class="search-product-qualifier"><%= pq.qualifier.name + (pq.certifier.nil? ?  _(";") : '') %></span>
          <% end %>
          <% if pq.certifier %>
            <span class="search-product-certifier">&nbsp;<%= _('cert. ') + pq.certifier.name + _(";") %></span>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div style="clear: both"></div>

  <%= safe_join(extra_content, '\n') %>
  <% extra_properties.each do |property| %>
    <div><%= ''.html_safe + property[:name] + ': ' + instance_exec(&property[:content]) %></div>
  <% end %>

</li>
